.wellcome {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  color: white;
  >.title {
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem;
  }
  >.description {
    margin-top: 2rem;
    width: 20%;
    float: right;
  }
  cite{
    float: right;
  }
}